@use './_main/reset';
@use './_main/font';
@use './_main/color' as *;
@use './_main/styles';

html, body, #root {
    height: 100vh;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-20 {
    margin-left: 20px;
}