@use './../../assets/styles/_main/color' as *;

.header {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: $darkShade5;
    box-shadow: $boxShadow;

    &__auth {
        display: flex;
    }
}
