.admin-add-page {
    width: 100%;

    &__row {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
    }

    &__col30 {
        display: flex;
        align-items: center;
        flex-basis: 40%;
    }

    &__col20 {
        display: flex;
        align-items: center;
        flex-basis: 20%;
    }

    &_text_right {
        padding-right: 40px;
        box-sizing: border-box;
        justify-content: flex-end;
        white-space: nowrap;
    }
}